*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/androidApp/release/androidApp-release.aab
/androidApp/release/androidApp-release.apk
/androidApp/release/output-metadata.json
