<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- для событий загрузки системы -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.webkit.resource.VIDEO_CAPTURE" />
    <uses-permission android:name="android.webkit.resource.AUDIO_CAPTURE" />
    <uses-permission android:name="android.webkit.resource.PROTECTED_MEDIA_ID" />
    <!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--    осторожно, тупые телефоны это не поддерживают!!!! а они есть в коллцентрах!!!-->
    <!--    <uses-feature android:name="android.hardware.camera.any"  с другой пробы камеры/>-->
    <!--    <uses-feature android:name="android.hardware.camera" />-->
    <!--    <uses-feature android:name="android.hardware.camera.autofocus" />-->
    <!--    <uses-feature android:name="android.hardware.camera.front" android:required="true" />-->
    <!--    <uses-feature android:name="android.hardware.camera" android:required="false" />-->

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!--удаление пермишена-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" tools:node="remove" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:networkSecurityConfig="@xml/file_paths2"
        android:name=".MainApp"
        android:icon="@drawable/ico_root_sotr"
        android:label="Медицинский помощник.Сотрудник"
        android:allowBackup="true"
        tools:replace="label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui._main_page.MainPageActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DIAL"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tel"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui._main_page.fragment_telemedicine.t3_room_activity.T3RoomActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.video_chat.VideoChatActivity"
            android:screenOrientation="portrait"></activity>

        <!--        <service-->
        <!--            android:name=".ui._main_page.fragment_call.service.MyServiceCallBefore23"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"/>-->

        <service
            android:name=".ui._main_page.fragment_call.call_center_new.CallCenterService"
            android:enabled="true"
            android:exported="true"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2cf131d16770f948315826e198b29ceebb98ad17" />

        <!--        <service android:name=".data.bg.service.ServiceStartOnBoot" />-->

        <!--        <receiver android:name=".data.bg.broadcasreseiver.BroadcastOnBootCompile"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />-->
        <!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
        <!--                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />-->
        <!--                <action android:name="android.intent.action.PACKAGE_REPLACED" />-->
        <!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <!--        <receiver android:name=".bg.broadcasreseiver.TimetableDocReceiver" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.medhelp.callmed2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".ui._main_page.fragment_call.my_dialer.CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true"/>

            <intent-filter>
                <action android:name="android.telecom.InCallService"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/sotr_icon" />
        <service
            android:name=".data.bg.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest> 