<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864684131129-p7a2blj6hjut8otimmetsuiponvv8un5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864684131129-p7a2blj6hjut8otimmetsuiponvv8un5</string>
	<key>API_KEY</key>
	<string>AIzaSyBQOVJqRRLiSojzdinPIY8r_05zsAjoPYE</string>
	<key>GCM_SENDER_ID</key>
	<string>864684131129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>medhelp.medhelp.CallMed.ios</string>
	<key>PROJECT_ID</key>
	<string>callmed1-9de2a</string>
	<key>STORAGE_BUCKET</key>
	<string>callmed1-9de2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864684131129:ios:182c4fdda52d5c609e1ee8</string>
	<key>DATABASE_URL</key>
	<string>https://callmed1-9de2a.firebaseio.com</string>
</dict>
</plist>